@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Kaisei+Tokumin:wght@400;500&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: "Kaisei Tokumin",sans-serif;
    background: -webkit-linear-gradient(3deg, rgb(34, 35, 36) 0%, rgb(55, 54, 55) 100%);
    background: -o-linear-gradient(3deg, rgb(34, 35, 36) 0%, rgb(55, 54, 55) 100%);
    background: -ms-linear-gradient(3deg, rgb(34, 35, 36) 0%, rgb(55, 54, 55) 100%);
    background: -moz-linear-gradient(3deg, rgb(34, 35, 36) 0%, rgb(55, 54, 55) 100%);
    background: linear-gradient(87deg, rgb(34, 35, 36) 0%, rgb(55, 54, 55) 100%);

}

/* 3d Model render */
#card {
    box-sizing: content-box;
    border-width: 8px;
    border-style: solid;
    border-color: #E5B80B ;
    border-image-slice: 1;

    margin: 3em auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

model-viewer {
    width: 100%;
    height: 400px;
    --poster-color: #ffffff00;
  }
/* 3d Model render */





/* Navigation Bar */
.navbar{
    padding-bottom: 2.5rem;
}




nav .navbar-nav li a{
    color: white !important;
    font-family: "Kaisei Tokumin",sans-serif;
}

nav .navbar-nav li a:hover{
    color: gold !important;
}


.nav-link{
    display: block;
    margin: 0.5px 55px;
    font-size: 1.2em
}

/*End of Navigation Bar */

/* Animation Nav BAr */

.navbar-toggler {
    border: none;
    background: transparent !important;
  }
  
  .navbar-toggler:focus {
    outline: none;
    background: transparent !important;
  }
  
  .navbar-toggler .icon-bar {
    background-color: #fff;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
  }
  
  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  
  .navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
  }
  
  .icon-bar:nth-child(2) {
    width: 16px;
    transition: ease all .2s;
  }
  
  .navbar-toggler:hover>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
  }
  
  .navbar-toggler:active>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all .2s;
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s;
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .2s;
  }
  
  .sec-accent {
    background-color: #fafcf5;
  }
  
  .blue {
    background-color: #9999cc;
  }
  
/* Card info   */
.desc{
    color: white !important;
    font-family: "Kaisei Tokumin",sans-serif;

}

.desc h2,h4{
    text-align: center;
    padding: 10px;
}
.desc p{
    padding: 16px;
}

.container .btn{
    position: relative;
    display: inline-block;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 20px;
    background: -webkit-linear-gradient(324deg, rgb(170, 147, 24) 0%, rgb(220, 197, 71) 100%);
    background: -o-linear-gradient(324deg, rgb(170, 147, 24) 0%, rgb(220, 197, 71) 100%);
    background: -ms-linear-gradient(324deg, rgb(170, 147, 24) 0%, rgb(220, 197, 71) 100%);
    background: -moz-linear-gradient(324deg, rgb(170, 147, 24) 0%, rgb(220, 197, 71) 100%);
    background: linear-gradient(126deg, rgb(170, 147, 24) 0%, rgb(220, 197, 71) 100%);
    color: black;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.25s;  
}

.container .btn:hover{
    letter-spacing: 3px;
}

/* End of Card info */

/* main Heading */

.headingda{
    text-align: center;
    color: white !important;
    font-family: "Kaisei Tokumin",sans-serif;
}

/* Media Queries */

/*----------------------------------------------------------------------------------------------------*/

@media screen and (min-width:991px) {
    .navbar-expand-lg .navbar-collapse{
        width: 100%;
    }
    
}

@media (min-width:768px) and (max-width: 1024px) {

    /* DONE - LAPTOPS */

    #title{
        text-align: center;
    }

    
    
  } 




/*----------------------------------------------------------------------------------------------------*/


/* ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
─██████████████─██████████████─████████───██████████████─████████──████████──────────────────────██████████████─██████████████─██████████████─██████████████─████████──████████─
─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░██───██░░░░░░░░░░██─██░░░░██──██░░░░██──────────────────────██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░██──██░░░░██─
─██████████░░██─██████████░░██─████░░██───██░░██████░░██─████░░██──██░░████──────────────────────██████████░░██─██████████░░██─██░░██████████─██░░██████░░██─████░░██──██░░████─
─────────██░░██─────────██░░██───██░░██───██░░██──██░░██───██░░░░██░░░░██────────────────────────────────██░░██─────────██░░██─██░░██─────────██░░██──██░░██───██░░░░██░░░░██───
─██████████░░██─██████████░░██───██░░██───██░░██████░░██───████░░░░░░████──────██████████████────██████████░░██─────────██░░██─██░░██████████─██░░██████░░██───████░░░░░░████───
─██░░░░░░░░░░██─██░░░░░░░░░░██───██░░██───██░░░░░░░░░░██─────██░░░░░░██────────██░░░░░░░░░░██────██░░░░░░░░░░██─────────██░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─────██░░░░░░██─────
─██████████░░██─██░░██████████───██░░██───██░░██████████───████░░░░░░████──────██████████████────██████████░░██─────────██░░██─██████████░░██─██░░██████████───████░░░░░░████───
─────────██░░██─██░░██───────────██░░██───██░░██───────────██░░░░██░░░░██────────────────────────────────██░░██─────────██░░██─────────██░░██─██░░██───────────██░░░░██░░░░██───
─██████████░░██─██░░██████████─████░░████─██░░██─────────████░░██──██░░████──────────────────────██████████░░██─────────██░░██─██████████░░██─██░░██─────────████░░██──██░░████─
─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░██─██░░██─────────██░░░░██──██░░░░██──────────────────────██░░░░░░░░░░██─────────██░░██─██░░░░░░░░░░██─██░░██─────────██░░░░██──██░░░░██─
─██████████████─██████████████─██████████─██████─────────████████──████████──────────────────────██████████████─────────██████─██████████████─██████─────────████████──████████─
──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */

@media only screen and (min-device-width:321px) and (max-device-width: 375px) {
    #title{
        text-align: center;
    }

    
}

/*----------------------------------------------------------------------------------------------------*/



/* ────────────────────────────────────────────────────────────────────────────────
─██████████████─██████████████─██████████████─██████████████─████████──████████─
─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░██──██░░░░██─
─██████████░░██─██████████░░██─██░░██████░░██─██░░██████░░██─████░░██──██░░████─
─────────██░░██─────────██░░██─██░░██──██░░██─██░░██──██░░██───██░░░░██░░░░██───
─██████████░░██─██████████░░██─██░░██──██░░██─██░░██████░░██───████░░░░░░████───
─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░██──██░░██─██░░░░░░░░░░██─────██░░░░░░██─────
─██████████░░██─██░░██████████─██░░██──██░░██─██░░██████████───████░░░░░░████───
─────────██░░██─██░░██─────────██░░██──██░░██─██░░██───────────██░░░░██░░░░██───
─██████████░░██─██░░██████████─██░░██████░░██─██░░██─────────████░░██──██░░████─
─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░██─────────██░░░░██──██░░░░██─
─██████████████─██████████████─██████████████─██████─────────████████──████████─
──────────────────────────────────────────────────────────────────────────────── */

@media only screen and (max-device-width:320px) {
    #title{
        text-align: center;
    }

    
}

 /*----------------------------------------------------------------------------------------------------*/

 
/* ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
─██████████████─██████████████─██████████████─██████████████─████████──████████──────────────────────██████──██████─██████████████─██████████████─██████████████─████████──████████─
─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░██──██░░░░██──────────────────────██░░██──██░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░██──██░░░░██─
─██████████░░██─██████████░░██─██░░██████████─██░░██████░░██─████░░██──██░░████──────────────────────██░░██──██░░██─██░░██████░░██─██░░██████░░██─██░░██████░░██─████░░██──██░░████─
─────────██░░██─────────██░░██─██░░██─────────██░░██──██░░██───██░░░░██░░░░██────────────────────────██░░██──██░░██─██░░██──██░░██─██░░██──██░░██─██░░██──██░░██───██░░░░██░░░░██───
─██████████░░██─────────██░░██─██░░██████████─██░░██████░░██───████░░░░░░████──────██████████████────██░░██████░░██─██░░██████░░██─██░░██──██░░██─██░░██████░░██───████░░░░░░████───
─██░░░░░░░░░░██─────────██░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─────██░░░░░░██────────██░░░░░░░░░░██────██░░░░░░░░░░██─██░░░░░░░░░░██─██░░██──██░░██─██░░░░░░░░░░██─────██░░░░░░██─────
─██████████░░██─────────██░░██─██░░██████░░██─██░░██████████───████░░░░░░████──────██████████████────██████████░░██─██░░██████░░██─██░░██──██░░██─██░░██████████───████░░░░░░████───
─────────██░░██─────────██░░██─██░░██──██░░██─██░░██───────────██░░░░██░░░░██────────────────────────────────██░░██─██░░██──██░░██─██░░██──██░░██─██░░██───────────██░░░░██░░░░██───
─██████████░░██─────────██░░██─██░░██████░░██─██░░██─────────████░░██──██░░████──────────────────────────────██░░██─██░░██████░░██─██░░██████░░██─██░░██─────────████░░██──██░░████─
─██░░░░░░░░░░██─────────██░░██─██░░░░░░░░░░██─██░░██─────────██░░░░██──██░░░░██──────────────────────────────██░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░██─────────██░░░░██──██░░░░██─
─██████████████─────────██████─██████████████─██████─────────████████──████████──────────────────────────────██████─██████████████─██████████████─██████─────────████████──████████─
──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */

@media (min-width:376px) and (max-width: 480px) {
    #title{
        text-align: center;
    }

    
}

 /*----------------------------------------------------------------------------------------------------*/

@media (min-width:481px) and (max-width: 768px) {
    #title{
        text-align: center;
    }

    
}
 